[Unit]
Description=JournalLog

[Service]
TimeoutStartSec=0
ExecStart=/usr/bin/journalctl -o short -f | ncat --udp logs2.papertrailapp.com 49166

[X-fleet]
Global=true
